html, body {
  min-height: 100vh;
}

body {
  display: flex;

}
.TODO {
  color: red;
}

/*


Light green = #c3e9c5
Green = #68c86f

*/
#root {
  /*outline: 1px solid green;*/
  width: 100%;
}
.App {
  display: flex;
  min-height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppHeader {
  background-color: #fdfdfd;
  width: 160px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  justify-content: space-between;
}
.AppHeader .letter {
  color: #000;
  font-weight: 800;
}
.AppHeader__top {
  width: 160px;
}
.AppHeader h1.AppHeader__titleLink {
  text-align: left;
  color: #999;
  padding: 16px;
  padding-bottom: 30px;
}
.AppHeader__top nav {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eee;
  user-select: none;
  padding-right: 1px;
}
.AppHeader__top__titleLink {
  text-decoration: none;
}


.AppHeader__top nav div {
  border-bottom: 1px solid #eee;
}
.AppHeader__top nav a {
  display:block;
  padding: 16px;
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
  border-right: 10px solid transparent;
}
.AppHeader__top nav a:hover {
  background: #f7f7f7;
}
.AppHeader__top nav a.active {
  border-right: 10px solid #68c86f;
}

.App-content {
  flex-grow: 1;
}

.AppHeader__bottom__links {
  padding: 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Explorer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Explorer__sink {
  height: 140px;
  border-bottom: 1px solid #ddd;
}

.Explorer__content {
  flex-grow: 1;

  display: flex;
}
.Explorer__content__graph {
  background: orange;
  flex-grow: 1;

}
.Explorer__content__myTrust {
  /*background: blue;*/
  width: 240px;
  /*border-left: 1px solid #ddd;*/

}
.Explorer__content__results {
  background: red;
  width: 240px;
  border-left: 1px solid #ddd;
}

.Graph {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#Graph__container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}

.tooltipContent {
  padding: 4px 8px;
}

.PeerListContainer {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
.PeerList {
  display: flex;
  flex-direction: column;
}
.Peer {
  border: 1px solid blue;
  /*background: skyblue;*/
  margin: 8px;
  border-radius: 4px;
}

.PeerContent {
  padding: 16px;
}
.PeerRating {
  border-top: 1px solid blue;
  padding: 8px;
}
.PeerRating .ant-slider {
  margin: 4px 8px;
}
