html, body {
  min-height: 100vh;
}

body {
  display: flex;
  color: #111;

}
.TODO {
  color: red;
}

/*


Light green = #c3e9c5
Green = #68c86f

*/
#root {
  /*outline: 1px solid green;*/
  width: 100%;
}
.App {
  display: flex;
  min-height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.AppHeader {
  background-color: #fdfdfd;
  width: 160px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  justify-content: space-between;
}
.AppHeader .letter {
  color: #000;
}
.AppHeader__top {
  width: 160px;
}
.AppHeader h1.AppHeader__titleLink {
  text-align: left;
  color: #999;
  padding: 16px;
  padding-bottom: 30px;
  line-height: 1.5;
  font-weight: 800;
}
.AppHeader h1.AppHeader__titleLink:hover {
  color: #666;
  text-decoration: none !important;
}
.AppHeader__top nav {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eee;
  user-select: none;
  padding-right: 1px;
}
.AppHeader__top__titleLink {
  text-decoration: none !important;
}


.AppHeader__top nav div {
  border-bottom: 1px solid #eee;
}
.AppHeader__top nav a {
  display:block;
  padding: 16px;
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
  border-right: 10px solid transparent;
}
.AppHeader__top nav a:hover {
  background: #f7f7f7;
}
.AppHeader__top nav a.active {
  border-right: 10px solid #68c86f;
}

.App-content {
  flex-grow: 1;
  overflow-y: scroll;
}

.AppHeader__bottom__links {
  padding: 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}





.Page {
  position: relative;
}
.Page__content {
  position: relative;
  z-index: 5;
}
.PageIntro {
  min-height: 90vh;
}
.PageIntro__content {
  height: 100%;
  position: absolute;
}
.Intro {
  font-size: 34px;
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
  color: #000;
}
.Intro__content {
  padding: 30px;
}
#particle-canvas {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  user-select: none;

}

.TwoBy {
  display: flex;
}
.TwoBy > div {
  width: 50%;
}
.Team {
  /*display: flex;*/
  padding: 60px 0;
}
.TeamSection {
  margin: 16px;
  padding: 16px 30px;
  /*background: rgba(255,255,255,0.2);*/
}
.TeamSection__Name {
  font-size: 36px;
  font-weight: 600;
}
.TeamSection__line {
  font-size: 20px;
}
.VertCenter {
  display: flex;
  align-items: center;
  width: 100%;
}
.Title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.TwoBy .TwoBy__60 {
  width: 60%;
}
.TwoBy .TwoBy__40 {
  width: 60%;
}

.TwoBy .TwoBy__70 {
  width: 70%;
}
.TwoBy .TwoBy__30 {
  width: 30%;
}
.Page--green {
  background: #e8f7e9;
}











.Explorer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Explorer__sink {
  height: 140px;
  border-bottom: 1px solid #ddd;
}

.Explorer__content {
  flex-grow: 1;

  display: flex;
}
.Explorer__content__graph {
  background: black;
  flex-grow: 1;

}
.Explorer__content__myTrust {
  /*background: blue;*/
  width: 280px;
  /*border-left: 1px solid #ddd;*/

}
.Explorer__content__results {
  background: red;
  width: 240px;
  border-left: 1px solid #ddd;
}

.Graph {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#Graph__container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}

.tooltipContent {
  padding: 4px 8px;
}

.PeerListContainer {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.PeerListSearch {
  padding: 10px 10px 0 10px;
}
.PeerListSlider {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 6px;
}
.PeerListSlider .ant-slider-mark-text {
  font-size: 12px;
  font-weight: 600;
}
.PeerList {
  display: flex;
  flex-direction: column;
}
.Peer {
  border: 1px solid;
  /*background: skyblue;*/
  margin: 6px 10px;
  border-radius: 4px;
  border-color: orange;
}

.PeerContent {
  /*padding: 16px;*/
  border-color: inherit;
}
.PeerContent__title {
  display: flex;
  /*height: 40px;*/
}
.PeerContent__title__name {
  flex-grow: 1;
  /*background: orange;*/
  font-size: 16px;
  padding: 8px 0 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.PeerContent__title__rating {
  /*width: 20px;*/
  /*background: #eee;*/
  font-size: 20px;
  font-weight: 800;
  padding: 3px 8px;
  text-align: center;
  border-radius: 0 4px 0 8px;
}
.PeerContent__id {
  word-break: break-all;
  font-size: 10px;
  padding: 2px 8px;
  border-bottom: 1px solid;
  border-color: inherit;
}
.PeerRating {
  border-top: 1px solid;
  border-color: inherit;
  padding: 8px;
}
.PeerContent__body {
  padding: 8px;
}
.PeerRating .ant-slider {
  margin: 4px 8px;
}
.PeerRating .ant-slider-track {
  background: currentColor !important;
}
.PeerRating .ant-slider-handle {
  border-color: currentColor !important;
}
